/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* USING VIEWPORTS */

/* .box {
  background: skyblue;
  width: 50%;
   max-width: 900px; 
  height: 50vh; 
  margin-top: 25vh;
  margin-bottom: 25vh;
  margin-right: 50vw;
} */

/* .box {
  padding: 50px;
  max-width: 70ch;
}

.outerbox {
  width: 40%;
  height: 45%;
  background: skyblue;
  border: 5px solid blue;
} */

/* .outerdiv {
  height: 1000px;
  margin: 0;
} */

body,
html {
  height: 100%;
  margin: 0;
}
.div1 {
  background: blue;
  height: 100vmin;
}
.div2 {
  background: red;
  height: 30%;
}
.div3 {
  background: green;
  height: 60%;
}
