* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/****************** *Big container design****************** */

.big-container {
  background: #f3eed9;
}

.big-container__layout {
  /*! **************Re-Usable code******************/
  width: 75%;
  max-width: 1128px;
  margin: 0 auto;
}

.layout {
  display: flex;
  min-height: 660px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.layout-size {
  width: 70%;
  margin: 0 auto;
}

.layout > h1 {
  color: #824936;
  font-family: "Playfair Display", serif;
  font-size: 60px;
}

.layout > p {
  color: #222c2a;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

/* ? (For the default flex-direction: row the cross axis 
? corresponds to vertical and the main axis corresponds to 
? horizontal. With flex-direction: column those two are 
? interchanged respectively). */

/****************** *Second big container design****************** */

.second-big-container,
.third-bg,
.fourth-bg {
  /*! **************Re-Usable code******************/
  padding: 4.5rem 0;
}

.second-big-container > h2 {
  margin-bottom: 3rem;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  color: #824936;
}

.second-layout {
  /*! **************Re-Usable code******************/
  display: flex;
  font-size: 21px;
  justify-content: space-between;
}

p.third-para {
  color: #222c2a;
}

.second-layout > p + p {
  margin-left: 4rem;
}

.second-layout > * {
  flex: 0 1 50%;
}

/****************** *Third big container design****************** */

.third-bg {
  background: #222c2a;
}

.third-bg h2 {
  color: #f3eed9;
  font-size: 35px;
  margin-bottom: 1rem;
}

.third-bg p {
  color: #f3eed9;
}

img {
  max-width: 100%;
  margin-left: 4rem;
}

/****************** *Fourth big container design****************** */

.fourth-bg {
  background: #824936;
  /* color: #f3eed9; */
}

img.fourth-img {
  margin: 0;
  margin-right: 4rem;
}

.fourth-bg h2 {
  margin-bottom: 1rem;
}

.fourth-bg h2 p {
  color: #f3eed9;
}

.fourth-color {
  color: #f3eed9;
}
