* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  background: #23424a;
  color: white;

  width: 50%;
  max-width: 900px;
  margin: 0 auto;

  padding: 2em;
}

.intro-content {
  width: 40%;
}
