/* INSTRUCTIONS
 *
 * 1) Keep the text inside .intro-content
 *    in the same place, but have the background
 *    extend from one side of the viewport
 *    to the other, no matter how wide or narrow
 *    the browser is.
 *
 * 2) Limit the maximum width of the text in the
 *    bottom area.
 *
 * You may modify the HTML if needed
 * (you probably should for this challenge)
 *
 */

/* *********************************************************
 
          ch IS A VERY USEFUL CSS UNIT USE IT FREQUENTLY FOR MAX WIDTH
          INSTEAD OF PIXEL
 
*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 80%;
  max-width: 50ch;
  margin: 0 auto;
}

.intro-content {
  width: 50%;
}

.intro {
  padding: 50px 0;
  width: 100%;
  background: #23424a;
  color: white;
}
