* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.big-box {
  width: 100vw;
  height: 333px;
  background: darkblue;
}

.small-box {
  background: skyblue;
  display: inline-block;
  height: 250px;
  width: 45.5rem;
  margin-left: 36px;
  margin-top: 40px;
}
