* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.big-box {
  width: 100vw;
  height: 300px;
  back ground: darkblue;
}

.small-box {
  background: skyblue;
  height: 250px;
  width: 100 rem;
  /* try it out tomorrow */
}
