* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  margin: 0 auto;
  width: 90%;
  border: 20px solid blue;
  padding: 30px;
  background: blueviolet;
}

.child {
  background: burlywood;
  width: 50%;
  height: 90px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 260px) {
  h1 {
    font-size: 10px;
  }
}

@media screen and (min-width: 262px) {
  h1 {
    font-size: 15px;
  }
}
@media screen and (min-width: 370px) {
  h1 {
    font-size: 30px;
  }
}
