* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.big-box {
  background: #00008b;
  padding: 50px;
  width: 60%;
  margin: 0 auto;
}

.small-box {
  background: skyblue;
  height: 100px;
}

@media screen and (max-width: 230px) {
  .big-box {
    background: darkblue;
    padding: 2px;
    width: 20%;
    margin: 0 auto;
  }

  .small-box {
    background: skyblue;
    height: 20px;
  }
}
