* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  width: 80%;
  padding: 50px;
  background: darkorange;
  margin: 0 auto;
}

.child {
  width: 50%;
  background: greenyellow;
  height: 150px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}
