* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main container  */

.container {
  width: 80%;
  max-width: 72ch;
  margin: 0 3rem;
}

.outer {
  background: #072a2d;
  padding: 7.5rem 0 7rem;
}

/* *********************************************************** */
/* heading */

h1 {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

/* **************************************************************** */

/* para */

p {
  color: #e5e5e5;
  font-family: "Roboto", sans-serif;
  margin-top: 1.5rem;
  line-height: 1.5rem;
  word-spacing: 0.1rem;
  margin-bottom: 3.5rem;
}

/* ************************************************************** */
/* link */
.button {
  display: inline-block;
  padding: 1rem 1.5rem;
  background: #38cfd9;
  border-radius: 2rem;
}

a {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 1rem;
}

a:link {
  color: #072a2d;
  font-weight: bold;
  font-size: 0.98rem;
}
