html {
  font-size: 19.2px; /*font-size: 1.2em*/
}

.container {
  font-size: 10px;
}

h1 {
  text-align: center;
  font-size: 10em;
}

h1 > p {
  font-size: 2em;
  /* padding-left: 400px; */
  padding-left: 2em;
}

/* #first1 {
  font-size: 3em;
} 3em = 3 *10px = 30px */

/* #first2 {
  font-size: 90px;} /* (first1)3em * (first2)3em = 9em = 9 * 10px= 90px*/

/* #first3 {
  font-size: 3em;}  /* 3em = 3 *10px = 30px*/
